@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Body background */

body{
    background-color: #F7F9FB;
    font-family: Roboto
}

/* Header */

header{
    width: 100%;
    height:80px;
    background-color: white;
}

ul {
    display: flex;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 95%;
}

.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    padding: 0px 44px;
    border-right: solid #F4F4F4 1px
}

header nav{
    height: 100%;
}

header ul {
    height: 100%;
    border-right: solid #F4F4F4 1px;
    padding: 0px 30px
}

.search-div{
    display: flex;
    height:100%;
    align-items: center;
    padding-left:33px;
    padding-right:33px;
    border-right: solid #F4F4F4 1px;
}

.search-div input{
    border:none;
    outline: none;
    padding-left:25px
}

.search-div input::placeholder{
    color:#CECECE;
    font-size:16px
}

header li{
    width:90px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-notification{
    position: absolute;
    top:7px;
    right:30px;
}

header li img{
    padding-bottom:12px;
}

header .avatar-div{
    display: flex;
    align-items: center;
    padding-left:30px;
    padding-right:50px;
    height:100%;
    border-right: solid #F4F4F4 1px;
}

header .avatar-div img {
    padding-right:15px;
}

.avatar-text-main-div{
    display: flex;
    flex-direction: column;
}

.avatar-text-main-div div:nth-child(1){
    display: flex;
}

.avatar-text-main-div div:nth-child(1) p{
    color:#181818;
    font-size:12px;
    font-weight: bold;
    padding-right:10px;
}

.avatar-text-main-div div:nth-child(1) small{
    color:rgba(24, 24, 24, 0.2);
    font-size:12px;
    font-weight: bold;
}

.avatar-text-main-div div:nth-child(2){
    display: flex;
    padding-top:11px;
}

.avatar-text-main-div div:nth-child(2) p{
    font-size:12px;
    color:#747474;
    padding-right:4px;
}

.avatar-text-main-div div:nth-child(2) small{
    font-size:12px;
    color:#02B033
}

header .other-div{
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid #F4F4F4 1px;
}

/* Main Section Structure */

.main-div{
    display: flex;
    padding: 40px 130px;
    justify-content: space-around;
}

main{
    margin-right:40px;
    width: 70%;
}

aside{
    width:30%;
}


/* Footer */

footer{
    margin-top:40px;
    background-color: #F7F9FB;
    width: 100%;
}

.footer-container{
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
    margin-bottom:45px;
}

.footer-menu-div ul{
    display: flex;
    flex-direction: column;
    max-height: 120px;
    flex-wrap: wrap;
}

.footer-menu-div h5{
    padding-bottom:30px;
    font-weight: bold;
    font-size:12px;
    color:#181818
}

.footer-menu-div ul li{
    margin-bottom:14px;
    margin-right:45px;
    color:#181818;
    font-size:12px;
}

.footer-menu-div{
    min-width: 400px;
}

.footer-buttons-div{
    display: flex;
    flex-direction: column;
}

.footer-question-button{
    background-color: #0275B1;
    border-radius:3px;
    width: 170px;
    text-align: left;
    color:white;
    padding: 7px 15px;
    font-weight: 500;
}

.footer-settings-button{
    margin-top:10px;
    border: 1px solid #0275B1;
    border-radius:3px;
    width: 170px;
    text-align: left;
    padding: 7px 15px;
    color:#0275B1;
    font-weight: 500;
}

.question-icon{
    padding-left:20px;
}

.gear-icon{
    padding-left:38px;
    color:#0275B1
}

.footer-buttons-div h5, .footer-language-div h5{
    padding-bottom:20px;
    font-weight: bold;
    font-size:12px;
    color:#181818
}

.language-select{
    width: 270px;
    padding: 10px 0px;
    color:#181818;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto;
    border: solid 1px #F0F0F0;
    padding-left:15px;
}

.angle-down-icon{
    position: absolute;
    right:20px;
    top:10px;
}

.language-select-div{
    position: relative;
}

.language-select {
    background: #fff url('./images/bottom-arrow.svg') 95.5% 50% no-repeat;
  }